@import "../../styles/variable.less";


.nav-bar {
    display         : flex;
    justify-content : space-evenly;
    align-items     : center;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    height          : 60px;
    padding         : 10px;
    box-shadow      : 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    background-color: #29335C;
    color           : white;


    .title-logo-container {
        display        : flex;
        justify-content: space-evenly;
        align-items    : center;
        width          : 180px;

        .title {
            display        : flex;
            justify-content: center;
            align-items    : center;

            .text-1 {
                margin-right: 4px;
                font-size   : 16px;
                color       : white;
            }

            .text-2 {
                font-size: 16px;
                color    : white;
            }
        }

        .vertical-line {
            width           : 2px;
            background-color: white;
            height          : 35px;
        }

        .logo {
            .image {
                width : 100%;
                height: 100%;
            }
        }
    }


    .actions-container {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 400px;

        .actions-list {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            list-style     : none;
            width          : 100%;

            .action {
                a {
                    color          : black;
                    text-decoration: none;
                    color          : white;

                    &:hover {
                        text-decoration: underline;
                        color          : red;
                    }
                }
            }
        }

        .nav-toggle {
            visibility: hidden;
            width     : 70px;
            height    : 70px;
            position  : absolute;
            right     : 5px;
            top       : 5px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .nav-bar {
        .actions-container {
            .actions-list {
                position        : fixed;
                top             : 0;
                left            : 0;
                height          : 100%;
                width           : 100%;
                display         : flex;
                align-items     : center;
                flex-direction  : column;
                justify-content : center;
                gap             : 1.5rem;
                transition      : 1s;
                transform       : translateY(-100vh);
                background-color: #29335C;
            }

            .nav-bar-open {
                transform: none;
            }

            .nav-toggle {
                visibility: visible;
            }
        }
    }
}